* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #a8def1, #fef7eb);
    color: #003366;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 20px;
}

.chat-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    position: relative;
}

.chat-image {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;

}

.chat-output {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 80px;
    overflow-y: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.226);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
}

.chat-message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.user-message {
    background-color: #d1ecf1;
    align-self: flex-end;
    text-align: right;
}

.bot-message {
    background-color: #f8d7da;
    align-self: flex-start;
    text-align: left;
}

.chat-input {
    display: flex;
    width: 80%;
    max-width: 800px;
    margin-bottom: 40px;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px 0 0 10px;
    font-size: 16px;
    outline: none;
}

.chat-input button {
    padding: 10px;
    background-color: #3a0edb;
    color: white;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 18px;
}

.chat-input button:hover {
    background-color: #8b0000;
}
